


* { 
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box; 
} 

 body { 
  /*  background-image: url("./assets/images/film.png") ;  */
    /*Center and scale the image nicely */
   background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;  } 






